@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import 'tailwindcss';
@import 'tailwindcss-primeui';

html {
    font-family: 'Inter', sans-serif;
}

body {
    background: linear-gradient(135deg, #f0f7ff 0%, #e8f0fd 100%);
}

.loader {
    border-top-color: #3b82f6;
    -webkit-animation: spinner 1.5s linear infinite;
    animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.payment-option:hover {
    transform: translateY(-2px);
    box-shadow:
        0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.scrollable-tab-content {
    max-height: calc(100vh - 220px);
    overflow-y: auto;
}

